--
-- PostgreSQL database dump
--

\restrict Vh1FX4u1a40LbbOCuGV4R7yikyhSaWWvjkFjm1HAtFHckkK4XvYTlKhqk7bSjq9

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: t_catalogos; Type: TABLE DATA; Schema: sch_convenios; Owner: -
--

COPY sch_convenios.t_catalogos (id, codigo, descripcion, estado, created_at, updated_at) FROM stdin;
1	VITALFLOW	Catalogo VitalFlow	activo	2026-06-16 21:58:17.694937+00	2026-06-17 11:08:08.287044+00
\.


--
-- Data for Name: t_prestaciones_catalogos; Type: TABLE DATA; Schema: sch_convenios; Owner: -
--

COPY sch_convenios.t_prestaciones_catalogos (id, id_catalogo, codigo, descripcion, modulo, prioridad, estado, created_at, updated_at, usa_regla_facturacion) FROM stdin;
\.


--
-- Name: t_catalogos_id_seq; Type: SEQUENCE SET; Schema: sch_convenios; Owner: -
--

SELECT pg_catalog.setval('sch_convenios.t_catalogos_id_seq', 57, true);


--
-- Name: t_prestaciones_catalogos_id_seq; Type: SEQUENCE SET; Schema: sch_convenios; Owner: -
--

SELECT pg_catalog.setval('sch_convenios.t_prestaciones_catalogos_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict Vh1FX4u1a40LbbOCuGV4R7yikyhSaWWvjkFjm1HAtFHckkK4XvYTlKhqk7bSjq9

