--
-- PostgreSQL database dump
--

\restrict 2l2NEwtUO1qOW8ZwddL0oPxGrN4QyRRLsT9bl9XPRMOy9SbPBjt48g29SzTheU4

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: t_catalogos; Type: TABLE; Schema: sch_convenios; Owner: -
--

CREATE TABLE sch_convenios.t_catalogos (
    id bigint NOT NULL,
    codigo character varying(30) NOT NULL,
    descripcion character varying(120) NOT NULL,
    estado character varying(10) DEFAULT 'activo'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: t_catalogos_id_seq; Type: SEQUENCE; Schema: sch_convenios; Owner: -
--

CREATE SEQUENCE sch_convenios.t_catalogos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_catalogos_id_seq; Type: SEQUENCE OWNED BY; Schema: sch_convenios; Owner: -
--

ALTER SEQUENCE sch_convenios.t_catalogos_id_seq OWNED BY sch_convenios.t_catalogos.id;


--
-- Name: t_prestaciones_catalogos; Type: TABLE; Schema: sch_convenios; Owner: -
--

CREATE TABLE sch_convenios.t_prestaciones_catalogos (
    id bigint NOT NULL,
    id_catalogo bigint NOT NULL,
    codigo character varying(30) NOT NULL,
    descripcion character varying(160) NOT NULL,
    modulo boolean DEFAULT false NOT NULL,
    prioridad integer,
    estado character varying(10) DEFAULT 'activo'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    usa_regla_facturacion boolean DEFAULT false NOT NULL
);


--
-- Name: t_prestaciones_catalogos_id_seq; Type: SEQUENCE; Schema: sch_convenios; Owner: -
--

CREATE SEQUENCE sch_convenios.t_prestaciones_catalogos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: t_prestaciones_catalogos_id_seq; Type: SEQUENCE OWNED BY; Schema: sch_convenios; Owner: -
--

ALTER SEQUENCE sch_convenios.t_prestaciones_catalogos_id_seq OWNED BY sch_convenios.t_prestaciones_catalogos.id;


--
-- Name: t_catalogos id; Type: DEFAULT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_catalogos ALTER COLUMN id SET DEFAULT nextval('sch_convenios.t_catalogos_id_seq'::regclass);


--
-- Name: t_prestaciones_catalogos id; Type: DEFAULT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_prestaciones_catalogos ALTER COLUMN id SET DEFAULT nextval('sch_convenios.t_prestaciones_catalogos_id_seq'::regclass);


--
-- Name: t_catalogos t_catalogos_pkey; Type: CONSTRAINT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_catalogos
    ADD CONSTRAINT t_catalogos_pkey PRIMARY KEY (id);


--
-- Name: t_prestaciones_catalogos t_prestaciones_catalogos_pkey; Type: CONSTRAINT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_prestaciones_catalogos
    ADD CONSTRAINT t_prestaciones_catalogos_pkey PRIMARY KEY (id);


--
-- Name: t_catalogos uq_t_catalogos_codigo; Type: CONSTRAINT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_catalogos
    ADD CONSTRAINT uq_t_catalogos_codigo UNIQUE (codigo);


--
-- Name: t_prestaciones_catalogos uq_t_prestaciones_catalogos_codigo; Type: CONSTRAINT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_prestaciones_catalogos
    ADD CONSTRAINT uq_t_prestaciones_catalogos_codigo UNIQUE (id_catalogo, codigo);


--
-- Name: idx_t_catalogos_estado; Type: INDEX; Schema: sch_convenios; Owner: -
--

CREATE INDEX idx_t_catalogos_estado ON sch_convenios.t_catalogos USING btree (estado);


--
-- Name: idx_t_prestaciones_catalogos_catalogo; Type: INDEX; Schema: sch_convenios; Owner: -
--

CREATE INDEX idx_t_prestaciones_catalogos_catalogo ON sch_convenios.t_prestaciones_catalogos USING btree (id_catalogo);


--
-- Name: idx_t_prestaciones_catalogos_estado; Type: INDEX; Schema: sch_convenios; Owner: -
--

CREATE INDEX idx_t_prestaciones_catalogos_estado ON sch_convenios.t_prestaciones_catalogos USING btree (estado);


--
-- Name: t_prestaciones_catalogos t_prestaciones_catalogos_id_catalogo_fkey; Type: FK CONSTRAINT; Schema: sch_convenios; Owner: -
--

ALTER TABLE ONLY sch_convenios.t_prestaciones_catalogos
    ADD CONSTRAINT t_prestaciones_catalogos_id_catalogo_fkey FOREIGN KEY (id_catalogo) REFERENCES sch_convenios.t_catalogos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 2l2NEwtUO1qOW8ZwddL0oPxGrN4QyRRLsT9bl9XPRMOy9SbPBjt48g29SzTheU4

